body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
}

header {
  width: 100%;
  height: 150px;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 300px;
  height: 150px;
  background-image: url(../img/logoLight.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
}

.bigode {
  width: 50%;
  height: 22%;
  top: 6%;
  background-image: url(../img/bigodinho.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  animation: sacode 1s 2s alternate;
}

.mexeBigode:hover {
  animation: mexeBigode 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate
    both;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.menuLista {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.menuLink {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--menuTxt);
  font-family: var(--Tajawal);
  font-size: 18px;
  font-weight: bolder;
  margin-left: 30px;
}

.menuLink:hover {
  color: var(--vermelho);
  text-decoration: overline;
  transition: 0.8s;
}

.tema {
  width: 30px;
  height: 30px;
  margin: 0 15px;
  cursor: pointer;
}

.hamburguer {
  display: none;
  background-color: var(--destaque);
  border-style: none;
  margin-right: 15px;
}

.hamburguerImg {
  width: 50px;
  height: 50px;
}

main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
  height: 100px;
  background-color: var(--destaque);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

#pole {
  height: 60px;
  margin-left: 10px;
}

#logoFooter {
  height: 100px;
  margin-right: 10px;
}

@keyframes sacode {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes mexeBigode {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

@media (max-width: 850px) {
  .menuLista {
    position: absolute;
    align-self: flex-end;
    left: -100%;
    top: 100%;
    flex-direction: column;
    background-color: var(--header);
    width: 35%;
    text-align: center;
    box-shadow: 0 10px 27px rgb(0, 0, 0, 0.005);
  }

  .menuLista.ativo {
    left: 65%;
  }

  .menuItem {
    margin: 10px 0;
    font-size: 15px;
  }

  .hamburguer {
    display: block;
    align-items: flex-end;
    cursor: pointer;
  }
}

@media (max-width: 280px) {
  .bigode {
    top: 15%;
  }
}
