body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--background);
}

header {
  width: 100%;
  height: 150px;
  background-color: var(--header);
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 30%;
  height: 100%;
  background-image: url(../img/logoLight.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.bigode {
  width: 40%;
  position: relative;
  left: 23%;
  top: 5%;
}

.wobble-hor-top {
  animation: wobble-hor-top 1s 2s alternate;
}

.shake-top:hover {
  animation: shake-top 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate both;
}
#menu {
  width: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 25px;
}

#menu > ul {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.menuLink > a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--menuTxt);
  font-family: var(--Tajawal);
  font-size: 18px;
  font-weight: bolder;
}

.menuLink > a:hover {
  color: var(--vermelho);
  text-decoration: overline;
  transition: 0.8s;
}
.btn {
  display: none;
  background-color: var(--destaque);
  border-style: none;
}

#imgHamburguer {
  display: none;
  height: 50px;
  width: 50px;
}

.tema {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.corpo {
  display: flex;
  width: 100%;
  height: 100vh;
}
.animation {
  animation: fade-in-fwd 3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.form {
  display: flex;
  justify-content: center;
  width: 50%;
}

.form > fieldset {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: none;
  width: 70%;
}
.tituloContatos {
  text-align: center;
  font-size: 48px;
  font-family: var(--Oswald);
  color: var(--vermelho);
}
.label {
  text-align: left;
  margin-top: 10px;
  font-family: var(--Tajawal);
  color: var(--texto);
  font-size: 18px;
}
.input {
  margin-top: 10px;
  border-radius: 10px;
  background-color: var(--destaque);
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: 2px 2px 5px;
  font-size: 20px;
  padding: 5px;
  font-family: var(--Tajawal);
}
.input:hover {
  border: 1px solid var(--marrom);
}
#erro_email {
  display: none;
  color: var(--vermelho);
  align-self: center;
  margin-top: 5px;
  font-size: 20px;
  font-family: var(--Tajawal);
  font-weight: bold;
}
#textArea {
  margin-top: 10px;
  border-radius: 20px;
  background-color: var(--destaque);
  width: 100%;
  border: none;
  box-shadow: 2px 2px 5px;
  padding: 10px;
  font-family: var(--Tajawal);
  font-size: 20px;
}
#textArea:hover {
  border: 1px solid var(--marrom);
}
.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.img {
  height: 300px;
  width: 80%;
  object-fit: cover;
  margin-top: 10px;
  box-shadow: 2px 2px 10px var(--marrom);
}
.button {
  height: 44px;
  margin-top: 20px;
  width: 40%;
  border-radius: 10px;
  background-color: var(--destaque);
  font-family: var(--Tajawal);
  color: var(--menuTxt);
  font-size: 18px;
  align-self: flex-end;
  border: none;
  box-shadow: 2px 2px 5px;
}

.button:hover {
  border: 1px solid var(--marrom);
}

footer {
  width: 100%;
  height: 100px;
  background-color: var(--destaque);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#pole {
  height: 60px;
  margin-left: 10px;
}

#logoFooter {
  height: 100px;
  margin-right: 10px;
}

@keyframes wobble-hor-top {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes shake-top {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media (max-width: 850px) {
  header {
    width: 100%;
  }
  .corpo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img {
    display: none;
  }
  .menuLink > a {
    display: none;
  }
  #menu > ul {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
  }

  #menu.buttonHamburguer .menuLink > a {
    display: flex;
  }
  /* #menu.deuCerto {
    flex-direction: column;
  } */

  .input {
    width: 100%;
  }
  .btn {
    display: flex;
    margin-right: 20px;
  }

  #imgHamburguer {
    display: flex;
  }
}
