@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Tajawal:wght@200;300;400&family=Teko:wght@300;400;500&display=swap");

body {
  --Oswald: "Oswald", sans-serif;
  --Tajawal: "Tajawal", sans-serif;
  --Teko: "Teko", sans-serif;
  --marrom: #473d39;
  --menuTxt: #0d0806;
  --header: #a1967f;
}

body[data-tema="light"] {
  --background: #c7c1af;
  --texto: #0d0806;
  --destaque: #a1967f;
  --vermelho: #7b1914;
}

body[data-tema="dark"] {
  --background: #0d0806;
  --texto: #c7c1af;
  --destaque: #a1967f;
  --vermelho: #a62121;
}
