.corpo {
  /* width: 100%;
  height: 200vh;
  margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pesquisa {
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 50%;
  height: 50px;
  border-radius: 20px;
  font-size: 24px;
  font-family: var(--Tajawal);
  padding: 30px;
}
.button {
  background-color: var(--background);
  border-style: none;
  margin-left: 10px;
  cursor: pointer;
}
.loupe {
  height: 60px;
  width: 60px;
}
.produtos_principal_caixa {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 30% 30% 30%;
  width: 80%;
  height: 200vh;
}
.produto {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.img {
  height: 60%;
  width: 60%;
  object-fit: cover;
  box-shadow: 2px 2px 10px var(--marrom);
  border-radius: 4px;
}
.img:hover {
  width: 65%;
  height: 62.5%;
  transition: 0.8s;
}
.texto {
  font-family: var(--Tajawal);
  color: var(--texto);
  font-size: 28px;
  width: 80%;
  text-align: center;
  margin-top: 10px;
}
.caixa_carrinho {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-top: 10px;
}
.preco {
  font-family: var(--Tajawal);
  color: var(--texto);
  font-size: 30px;
}
.carrinho {
  background-color: var(--texto);
  border-style: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  cursor: pointer;
}
.carrinho:hover {
  background-color: var(--vermelho);
  transition: 0.6s;
}
.icon_sacola {
  height: 30px;
  width: 30px;
}
.produto-1 {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.produto-2 {
  grid-column: 3 / 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.produto-3 {
  grid-column: 1 / 2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.produto-4 {
  grid-column: 2 / 3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.produto-5 {
  grid-column: 3 / 4;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.produto-6 {
  grid-column: 1 / 2;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.produto-7 {
  grid-column: 2 / 3;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.produto-8 {
  grid-column: 3 / 4;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .menuLista {
    position: absolute;
    align-self: flex-end;
    left: -100%;
    top: 120px;
    flex-direction: column;
    background-color: var(--header);
    width: 35%;
    text-align: center;
    box-shadow: 0 10px 27px rgb(0, 0, 0, 0.005);
    z-index: 1;
  }

  .menuLista.ativo {
    left: 65%;
  }

  .menuItem {
    margin: 10px 0;
    font-size: 15px;
  }

  .hamburguer {
    display: block;
    align-items: flex-end;
    cursor: pointer;
  }

  .corpo {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .produtos_principal_caixa {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .img {
    margin-top: 30px;
  }
  .input {
    width: 80%;
  }
}

@media (max-width: 320px) {
  header {
    height: 120px;
  }

  .bigode {
    top: 15%;
  }
}

@media (max-width: 280px) {
  .bigode {
    top: 22%;
  }
}
